<!DOCTYPE html>
<html>
<head>
    <title>lychrel number test</title>
    <script type="text/javascript" src="/static/lychreltest.js"></script>
</head>
<body>
    <h1>Lychrel Numbers</h1>
    <p>A Lychrel Number is a number that is the result of the sum of a number and that number in reverse,
        where the result is not a palindrome. A palindrome number is the same number read left to
        right as it is read right to left. If after many iterations the sum of the previous result and that 
        result in reverse does not eventually result in a palindrome number, it is considered a Lychrel Number.</p><br>
    Number: <input type='text' id='number' name='number' placeholder='type number..'/>
    <button onclick='lychrelTest()'>Test</button><br/>
    <div id='result'></div>

</body>
</html>